LIVE_API_URL=https://rodcroft-fortress.vercel.app/api/data
DATABASE_URL=postgresql://postgres.PROJECT:PASSWORD@aws-1-eu-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true&sslmode=require
DIRECT_URL=postgresql://postgres.PROJECT:PASSWORD@aws-1-eu-west-1.pooler.supabase.com:5432/postgres?sslmode=require
POSTGRES_URL=postgresql://postgres.PROJECT:PASSWORD@aws-1-eu-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true&sslmode=require
POSTGRES_URL_NON_POOLING=postgresql://postgres.PROJECT:PASSWORD@aws-1-eu-west-1.pooler.supabase.com:5432/postgres?sslmode=require
